[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"

[dev-packages]
autopep8 = "*"
bandit = "*"
black = "*"
codespell = "*"
coverage = "*"
detect-secrets = "*"
docktor-py = "*"
flake8 = "*"
isort = "*"
jedi = "*"
pep8 = "*"
pip-audit = "*"
pre-commit = "*"
prospector = "*"
pydantic = "*"
pydocstyle = "*"
pylint = "*"
pyre-check = "*"
pyre-extensions = "*"
pytest = "*"
pytest-cov = "*"
yamllint = "*"

[requires]
python_version = "3.13.7"
